<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592530437547-jp45fp3nlt9ae7209gmv0a8mvr0b64lh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592530437547-jp45fp3nlt9ae7209gmv0a8mvr0b64lh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>592530437547-jg58c2snrrqa7a3k66kb9fah5n93ob48.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAMsh8uZ3jabEiq7Blh2KLWJMyHtiAOhI</string>
	<key>GCM_SENDER_ID</key>
	<string>592530437547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.BABYCARETOGETHER</string>
	<key>PROJECT_ID</key>
	<string>babycarethgether</string>
	<key>STORAGE_BUCKET</key>
	<string>babycarethgether.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592530437547:ios:d71694bd4e2e5efd23ceee</string>
</dict>
</plist>